node_modules
dist
.idea
.node-version

cli/bin
cli/out

demos/employee-vci/.env
demos/employee-vci/TEST_DB
demos/employee-vci/database.sqlite
demos/employee-vci/dist

demos/proxy-vci/.env
demos/proxy-vci/TEST_DB
demos/proxy-vci/database.sqlite
demos/proxy-vci/dist

demos/participation-cert-vci/.env
demos/participation-cert-vci/TEST_DB
demos/participation-cert-vci/database.sqlite
demos/participation-cert-vci/dist

