node_modules
dist
.idea
.node-version

cli/bin
cli/out

employee-vci/.env
employee-vci/TEST_DB
employee-vci/database.sqlite
employee-vci/dist

proxy-vci/.env
proxy-vci/TEST_DB
proxy-vci/database.sqlite
proxy-vci/dist

participation-cert-vci/.env
participation-cert-vci/TEST_DB
participation-cert-vci/database.sqlite
participation-cert-vci/dist

